
.nodeBox {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .messageBox {
    padding: 2px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: grab;
    width:50%;
    margin-top: 1rem;
  }